@import "tailwindcss";

.adminLoginBtn{
    border:1px solid #595959;
}
.adminLoginBtn:hover{
    color: blue;
}
.adminLogoutBtn{
    padding:0;
    line-height: 2vh;
    background-color: transparent;
    border: none;
}
.adminLogoutBtn:hover{
    border: none;
    padding:0;
    line-height: 2vh;
    background-color: transparent;
}
.matchOverBtn{
    padding:1vh 1.5vh;
    line-height: 0vh;
    height: 4vh;
    max-height: 4vh;
    background-color: red;
    border: none;
    border-radius: 2px;
}
.matchOverBtn:hover{
    border: none;
    padding:1vh 1.5vh;
    line-height: 0vh;
    height: 4vh;
    max-height: 4vh;
    background-color: red;
}
html, body, #root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
  
.container {
    width: 100vw;
    max-width: 100%;
}
.wicketColor{ 
    color:#fff;
    background-color: #ff0000;
}
.noBallColor{
    color:#fff;
    background-color: #ffa500;
}
.wideBallColor{
    color:#fff;
    background-color: #cc3300;
}
  